:root {
  --max-width: 1120px;
  --color-gray-200: #F3F5F6;
  --color-gray-400: #F0F0F5;
  --color-gray-600: #5D5D6D;
  --color-gray-700: #737380;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-gray-400);
}